/* appel à mes fichiers, le « entrypoint » */
@import url("main.css");
@import url("header.css");
@import url("footer.css");

body {
  max-width: 1024px;
  font-family: "Lexend Giga", sans-serif;
  background-color: #f6f8fa;
}

/*-------------------------------- Banner -------------------------------- */

.banner-title {
  text-align: center;
  font-size: 2.5rem;
}

.banner-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
}

.banner-picture {
  display: flex;
  justify-content: center;
}

.banner-text {
  text-align: justify;
}

.banner-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.banner-bottom-link {
  border: solid 1px;
  border-radius: 16px;
  text-decoration: none;
  padding: 1rem;
}

/*-------------------------------- Parcours -------------------------------- */

.parcours {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.parcours-container {
  display: flex;
  border: solid 1px;
  flex-direction: column;
  align-items: center;
}

.parcours-img {
  width: 20vh;
  display: block;
}

.parcours-text {
  text-align: justify;
  padding: 8px;
}

/*-------------------------------- Réalisations -------------------------------- */
